/* Тёмный фон для выпадающего меню */
.dropdown-menu {
    background-color: #222222 !important; /* Тёмный фон */
    border: none; /* Убираем границу */
  }
  
  /* Белый текст для элементов меню */
  .dropdown-item {
    color: #ffffff !important; /* Белый текст */
  }
  
  /* Добавляем эффект наведения */
  .dropdown-item:hover {
    background-color: #151515; /* Лёгкий тёмно-серый фон при наведении */
    color: #fff; /* Белый текст сохраняется */
  }
  
  .dropdown {
    color: #fff;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Занимает всю ширину экрана */
    z-index: 1000; /* Устанавливает приоритет отображения поверх других элементов */
    background-color: #151313; /* Задаёт фоновый цвет */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Добавляет лёгкую тень для отделения от контента */
  }

/* Для корректного отображения содержимого под Navbar */
.body-content {
    padding-top: 70px; /* Отступ, равный высоте Navbar */
  }